@using BlackHole.Client.Services
@inherits LayoutComponentBase
@inject PageTitleService PageTitleService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <PageTitle>@BrowserTitle</PageTitle>
            <h1>@Title</h1>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
