@page "/"
@inject QueueService QueueService
@inject IStringLocalizer<Texts> S

<BlackHoleTitle Title="Home" />

<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <NavLink href="downloads" class="card card-deck card-home">
            <header class="card-header">
                <h3>@S["Downloads"]</h3>
            </header>
            <content class="card-body">
                <p>@(QueueService.GetServices<DownloadData>().Count)</p>
            </content>
        </NavLink>
    </div>
</div>
