@page "/system"
@inject IStringLocalizer<Texts> S

<BlackHoleTitle Title="System" />

@if (Config != null)
{
    @foreach (var c in Config)
    {
        <p><strong>@(S.Get(c.Key))</strong>: @(c.Value)</p>
    }
}
